<html>
  <header><%- include("./partials/header.ejs")%></header>
  <body>
    <%- include("./partials/navbar.ejs")%>
    <h1>404 the page you requested does not exist</h1>
  </body>
  <footer><%- include("./partials/footer.ejs")%></footer>
</html>
