<html>
  <header><%- include("./partials/header.ejs")%></header>
  <body>
    <%- include("./partials/navbar.ejs")%>
    <div class="not-found content">
      <h1>404 the page you requested does not exist</h1>
    </div>
    <footer><%- include("./partials/footer.ejs")%></footer>
  </body>
</html>
