<html>
  <header><%- include("./partials/header.ejs")%></header>
  <body>
    <%- include("./partials/navbar.ejs")%>
    <h3>my name is sudais</h3>
    <p class="about content">
      and i am 19 years old who is currently self-learning programming and is
      trying to get into web3
    </p>
    <footer><%- include("./partials/footer.ejs")%></footer>
  </body>
</html>
